on:
  workflow_dispatch:
  schedule:
  - cron: "0 20 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eco4cast/rocker-neon4cast
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install rMR
        run: Rscript -e "devtools::install_version('rMR', version = '1.1.0')"
# Point to the right path, run the right Rscript command
      - name: Run automatic prediction file
        run: Rscript Main.R 

